.slide {
  max-width: 100% !important;

  img {
    aspect-ratio: 16/9;
  }

  .headline {
    text-align: center;
    margin: 10px auto;
    font-size: 12px;
    display: block !important;
    display: -webkit-box !important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
  }
}

