@import "configs/variables";
@import "layouts/breakpoints";

.category_title {
  padding: 10px;
  color: white;
  background-color: teal;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.category_title a {
  color: white;
}

.news_item {
  border-bottom: 1px solid rgb(204, 204, 204);
  padding: 20px;
}

.news_item:hover {
  background-color: $primary-lighter;
  .news_heading a {
    color: $primary;
  }
}

.news_row {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.news_heading {
  align-self: center;
  margin-right: 10px;
  font-size: $base-font-size;
  color: $black;
  display: block !important;
  display: -webkit-box !important;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.news_image img {
  aspect-ratio: 16/9;
  border-radius: 7px;
  /* width: 100%;
  height: 100%; */
  /* object-fit: cover; */
}

.news_meta {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: gray;
}

@media (max-width: 768px) {
  .news_image img {
    width: 100px;
    // height: 84px;
  }
  .news_heading{
    font-size: 12px;
  }
}
