
.category_title {
  padding: 10px;
  color: white;
  background-color: teal;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.category_title a {
  color: white;
}


.news_item {
  border-bottom: 1px solid rgb(204, 204, 204);
  padding: 20px;
}

.news_row {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.news_heading{
  align-self: center;
  margin-right: 10px;
}

.news_image {
  background-color: red;
  align-self: center;
  width: 140px;
  height: 78px;
 
}

.news_image img {
  border-radius: 7px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.news_meta {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: gray;
}

@media (max-width: 768px) {
  .news_image img {
    width: 150px;
    height: 84px;
  }
}
