.layout_wrapper {
  display: flex;
  align-items: flex-start;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 100px;
}

.layout_left {
  /* min-width: 200px;
  max-width: 20%; */
  margin: 1rem 1rem;
  height: 100%;
  flex: 1;
  position: sticky;
  position: -webkit-sticky;
  top: 100px;
  overflow-y: scroll;
}

.layout_left_add {
  /* background-color: rgb(181, 161, 200); */
  position: sticky;
  top: -1100px;
}

.layout_center {
  flex: 2;
  margin: 1rem auto;
  border-left: 1px solid rgb(204, 204, 204);
  border-right: 1px solid rgb(204, 204, 204);
}

.heading {
  color: blueviolet;
  border-left: 7px solid red;
  padding-left: 7px;
  margin-bottom: 20px;
}

.center_footer {
  display: inline-block;
}

.layout_right {
  /* min-width: 300px; */
  flex: 1;
  position: sticky;
  top: 100px;
  overflow-y: scroll;
  margin: 1rem 1rem;
  /* max-width: 20%; */
}

.footer_mobile {
  display: none;
  margin-top: 30px;
}

.stickyNav {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 3000;
}

@media (max-width: 768px) {
  .layout_left {
    display: none;
  }
  /* .layout_right {
    display: none;
  } */
  .layout_center {
    max-width: 100%;
    padding: 0;
  }

  .center_footer {
    display: none;
  }

  .layout_wrapper {
    width: 100%;
    flex-direction: column;
  }

  .layout_right {
    max-width: 100%;
  }

  .footer_mobile {
    display: inline-block;
  }
}
