.navbar_fluid{
    padding: 10px 10px;
    border-bottom: 1px solid rgb(204, 204, 204);
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1000;

}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
}

.logo img{
    width: 100px;
    margin-right: 10px;
}

.nav_menu ul{
    display: flex;
    align-items: center;
}

.nav_menu ul li{
    margin-left: 70px;
    font-size: 24px;
    display: flex;
    align-items: center;
}

.menu_icons{
    font-size: 30px;
    margin-right: 5px;
}

.nav_left{
    display: flex;
    align-items: center;
}


.nav_date{
    font-weight:500;
    font-size: 12px;
}

@media (max-width: 768px){
    .nav_menu{
        display: none;
    }
    /* .nav_left .nav_date{
        displ
    } */
}