.about{
    color: gray;
    background-color: rgb(245, 242, 248);
    padding: 15px;
    text-align: center;

    .contact{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }

    .whatsapp{
        display: flex;
        align-items: center;
    }
}