@import "configs/variables";

.menubar {
  font-size: 20px;
  padding-top: 15px;
}

.menubar ul li {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 7px;
}

.list {
  color: $secondary;
}

.active {
  background-color: $secondary-lighter;
}

.list {
  display: flex;
  align-items: center;
}

.list img {
  width: 30px;
  margin-right: 7px;
}
