.wrapper{
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(13,2,71,1) 100%);
    color : white;
    height: 100px;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}